POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=mydb
DATABASE_URL=postgresql://user:password@db:5432/mydb
REDIS_URL=redis://redis:6379/0
API_BASE_URL=https://dummyjson.com
FETCH_CHUNK_SIZE=10
API_KEY=your-secret-api-key

# Beat schedule (in minutes)
FETCH_USERS_INTERVAL=10
FETCH_POSTS_INTERVAL=15
FETCH_COMMENTS_INTERVAL=20
